<div class="mainbody">
  <h2 class="title">{{tp.title}}</h2>
  <ul class="static">
    <ul>创建时间： <p>{{tp.create_time}}</p>
    </ul>
    <ul>题目类型： <p>{{tp.type}}</p>
    </ul>
  </ul>
  <h3 class="tag">题目描述</h3>
  <div class="box-a">
    <p id="que-text"> </p>
  </div>
  <h3 class="tag">检验结果</h3>
  <div class="box-a">
    <button id="commit" (click)="commit()">我已提交</button>
    <p class="result">
      {{result}}
    </p>
  </div>
  <h3 class="tag">提交历史</h3>
  <div class="box-a">
    {{history}}
  </div>
</div>